/* $Id: layouts.css, v0.0.0 13/05/2007 mdb Exp $
 * $Author: mdb $
 *
 * insaneQuotes Layouts Stylesheet
 * Browsers: Mozilla 1+/2+ || IE 7+
 *
 * Written by Filippo Baruffaldi (filippo@baruffaldi.info)
 *
 * CSS2 released under Creative Commons Attribution-Noncommercial-Share Alike 2.5 Italy License 
 * URL: http://creativecommons.org/licenses/by-nc-sa/2.5/it/
*/

/* Main Layouts */

html,body
{
	margin: 0px;
	padding: 0px;
	background: #FFF url('../images/site_background.jpg') repeat-x;
}

#container
{
	width: 900px;
//	height: 800px;
	margin: 0px auto;
//	margin: 0px 13%;
}

/* Navigation Layouts */

#navigation
{
	float:left;
	width: 180px;
}

#navigation_logo
{
	margin-top: 15px;

}

#site_logo
{
}

#navigation_menu
{
	margin-top: 30px;
}

#navigation_menu_item
{
	margin-left: 20px;
}

/* Content Layouts */

#content
{
	text-align: center;
	margin-left: 185px;
//	position: relative;
//	z-index: 13;
}

#content_search
{
	background: url('../images/site_con_search.png') no-repeat;
	height: 60px;
	width: 280px;
	float: right;
}

#content_search_registered
{
	background: url('../images/site_con_search_reg.png') no-repeat;
	height: 60px;
	width: 280px;
	float: right;
}

#content_search_registered a
{
	position: relative;
	left: 85px;
	top: -35px;
}

#content_search_registered p
{
	position: relative;
	right: 69px;
	top: -13px;
}

#content_mainWindow
{
	padding-top: 67px;
//	padding-top: 0px;
	width: 720px;
//	position: relative;
//	bottom: 240px;
//	margin-bottom: -200px;
}

#content_mainWindow_head
{
	background: url('../images/site_con_mainWindow_head.png') no-repeat;
	height: 155px;
}

#content_mainWindow_head p
{
	color: #8F8FFF;
	padding-top: 110px;
	width: 667px;
//	float: left;
}

#content_mainWindow_body
{
	background: url('../images/site_con_mainWindow_body.png') repeat-y;
	width: 677px;
//	margin-top: 0px;
//	float: left;
}

#content_mainWindow_foot
{
	background: url('../images/site_con_mainWindow_foot.png') no-repeat;
	width: 677px;
	height: 50px;
//	float: left;
}

#content_mainWindow_body_content
{
	width: 607px;
	margin: 0px auto;
}

/* Footer Layouts */

#footer
{
	width: 667px;
	vertical-align: bottom;
//	margin-bottom: none;
//	height: 20px;
}

/* Listing Quotes Stuffs */

.quote
{
text-align: left;
padding-bottom: 10px;
}

.quote_text
{
border: 1px dotted #777;
padding: 10px;
font-family: Verdana;
}

.quote_info
{
font-family: fantasy;
font-size: 12px;
}

.quote_title
{
font-family: fantasy;
color: #FF0000;
font-size: 12px;
}

/* Profiles Registration Stuffs */

#register
{
margin: -30px auto;
margin-bottom: 30px;
}

#register_row
{
width: 300px;
}

#register_left
{
text-align: right;
float:left;
font-weight: bold;
line-height: 23px;
}

#register_right
{
border-left: 3px dotted #FFF;
padding-left: 3px;
text-align: left;
float: right;
}

#register_ptsc
{
clear: both;
}


/* Forms Stuffs */

#input_search
{
	position: relative;
left: 31px;
//	left: -130px;
//	top: -5px;
background-color: #ccffff;
border: 1px solid #cc11ff;
}

#input_username
{
	position: relative;
	left: 7px;
top: -15px;
//	top: -35px;
//	left: -160px;
font-size: 10px;
height: 11px;
width: 59px;
background-color: #ccffff;
border: 1px solid #cc11ff;
}

#input_password
{
	position: relative;
	right: -52px;
top: -15.5px;
//	top: -35px;
//	left: -115px;
font-size: 10px;
height: 11px;
width: 57px;
background-color: #ccffff;
border: 1px solid #cc11ff;
}

#input_submit_search
{
	position: relative;
	background: url('../images/site_con_search_icon.png') no-repeat;
border: none;
width: 57px;
height: 28px;
right: -30px;
//	left: -130px;
//	top: -5px;
}

#input_submit_login
{
background: url('../images/site_con_login_icon.png') no-repeat;
	position: relative;
	right: -69px;
	top: -14px;
//	top: -30px;
//	left: -95px;
border: none;
width: 20px;
height: 20px;
}

/* Various Stuffs */

img
{
	border: none;
}

h1
{
	margin: 0px;
}

h2
{
	margin: 0px;
}

h3
{
color: #777;
	margin: 0px;
	display: inline;
}

h4
{
color: #FFFF99;
	margin: 0px;
}

dd
{
	margin: 0px;
}

p
{
	margin: 0px;
}

.hr_medium
{
width: 400px;
border: 1px inset #777;
}

#site_rules
{
margin: 0px 0px;
}
/* EOF :) */